<ng-container *ngIf="items.length > 0; else emptyCartMessage">
  <div class="cart-container">
      <div class="cart-item-details">
          <app-cart-item class="cart-item" *ngFor="let item of items" [item]="item" (qchanged)="handleQuantity(item)"></app-cart-item>
          <h2 class="text-center">Total: ${{ totalAmount }}</h2>
      </div>
      <form class="form-margin" #form="ngForm" (ngSubmit)="onSubmit()">
          <!-- form inputs -->
          <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
      </form>
  </div>
</ng-container>

<ng-template #emptyCartMessage>
  <h3 class="empty-cart-message">Empty cart. Go back to products list and add some!</h3>
</ng-template>
