<div class="product-container">
  <!-- Hyperlink to product item detail page -->
  <a [routerLink]="'/components/product-item-detail/' + product.id">
    <!-- Product image -->
    <img class="product-image" [src]="product.url">
  </a>
  <!-- Product name -->
  <p>{{product.name}}</p>
  <!-- Product price -->
  <p>\${{product.price}}</p>
  <!-- Quantity selector -->
  <select class="select-input" [(ngModel)]="q">
    <!-- Loop over quantity values and create an option for each value -->
    <option *ngFor="let val of qVals" [ngValue]="val">{{val}}</option>
  </select>
  <!-- Add to cart button -->
  <button class="btn btn-primary" (click)="addToCart()">Add this to cart</button>
</div>
